.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cards img{
  width:160px;
  height: 160px;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px #bcbcbc;
    text-align: center;
    padding: 20px;
    border: 1px solid #bcbcbc;
    transition: 0.3s;
}

.card:hover{
  transform: scale(0.97);
  box-shadow: 0 0 15px #9e9797;
}

.card p {
  color: #9e9797;
}
