.banner {
  padding: 200px 0px;
  color: white;
}

.banner h1 {
  font-family: helvetica;
  font-size: 5em;
}

.banner p {
  margin-top: 0;
  font-family: helvetica;
  font-size: 2em;
  color: white;
}

.banner {
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}
